<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MySqlKey" connectionString="SERVER=wgudb.ucertify.com;DATABASE=U07Qcz;UID=U07Qcz;PASSWORD=53689099261"/>
  </connectionStrings>
</configuration>